/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
.gap-2{
    gap: 8px;
}
.gap-4{
    gap: 16px;
}
subtitle{
    color: #666666;
}
input[type="date"]{
    outline: none;
}